/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

.fa-magnifying-glass {
    color: white;
}

html, body {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

input:focus{
    outline: none;
}


/****** Header ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.header .navigation ul {
    list-style: none;
    display: flex;
    gap: 68px;
    padding: 0;
}



.header .navigation a{
    position: relative;
}

.header .navigation a:hover {
    color: var(--main-color); 
    transition: all ease-in-out .2s;  
}

/*.selected {
    color: var(--main-color);
}

.selected::after{
    width: 100%!important;
}*/

.header .navigation a::after, .selected::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    top:-10px;
    left: 0px;
    background-color:var(--main-color);
    transition: all ease-in-out .2s;
}
.header .navigation a:hover::after{
    width: 100%;
}

/****** Search form ***********/
.search {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.search .search-icon{
    display: block;
    height: 49px;
    width: 50px;
    background-color: var(--main-bg-color);
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    position: relative;
}

.search .fa-location-dot {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); 
}

.search input, .search .btn-search {
    margin: 0;
    padding: 13px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.search input::placeholder {
    font-weight: 200;
}

.search input[type=text] {
    width: 195px;
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
}

.search .btn-search {
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
    border-radius: 0px 15px 15px 0px;
}

.btn-search .fa-magnifying-glass {
    display: none;
    visibility: hidden;
}

.search .btn-search:hover {
    filter: brightness(0.9);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width: calc(33.33% - 20px);
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex; 
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-footer {
    margin-top: 30px;
}
.hebergements-footer a {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title, .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle, .hebergements-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating, .hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
    padding: 30px;
}

.activities-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card {
    height: 439px;
    padding: 0;
}

.activities-cards a {
    width: calc(25% - 20px);
    margin-top: 30px;
}

.activities-cards .card-content {
    padding-left: 20px;
}

/****** Footer ***********/
.footer {
    background-color: var(--main-bg-color);
    display: flex;
}

.footer .footer-content {
    width: 33.33%;
    padding: 20px;
}

.footer .footer-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .btn-search .fa-magnifying-glass {
        display:inline;
        visibility: visible;
    }

    .btn-search span {
        display: none;
        visibility: hidden;
    }


}